{% extends "flyeco/base.html" %}
{% block content %}
<h1 style="text-align: center;">About <span style="color:darkgreen">Us</span></h1>
{% if user_point < 20 and user_point >= 0 %}
    <video autoplay muted loop id="myVideo">
        <source src="../../static/flyeco/level1.mp4" type="video/mp4">
    </video>
    {% elif user_point >= 20 and user_point <= 90 %}
    <video autoplay muted loop id="myVideo">
        <source src="../../static/flyeco/level2.mp4" type="video/mp4">
    </video>
    {% elif user_point >= 40 and user_point <= 60 %}
    <video autoplay muted loop id="myVideo">
        <source src="../../static/flyeco/level3.mp4" type="video/mp4">
    </video>
    {% elif user_point >= 60 and user_point <= 80 %}
    <video autoplay muted loop id="myVideo">
        <source src="../../static/flyeco/level4.mp4" type="video/mp4">
    </video>
    {% elif user_point >= 80 and user_point <= 100 %}
    <video autoplay muted loop id="myVideo">
        <source src="../../static/flyeco/level5.mp4" type="video/mp4">
    </video>
    {% endif %}
<br>
<p class="h3" style="text-align: center;">
    In a globe that is <span style="color:crimson">warming</span>
</p>
<br>
<p class="h4" style="text-align: center;">
    We aim to help you plan your travels by providing you with a list of the most <span style="color:darkgreen">eco-friendly</span> routes for your
    planned trip
</p>
{% endblock content %}