{% extends "flyeco/base.html" %}
{% load crispy_forms_tags %}
    {% block content %}

    {% if user_point < 20 and user_point >= 0 %}
    <video autoplay muted loop id="myVideo">
        <source src="../../static/flyeco/level1.mp4" type="video/mp4">
    </video>
    {% elif user_point >= 20 and user_point <= 40 %}
    <video autoplay muted loop id="myVideo">
        <source src="../../static/flyeco/level2.mp4" type="video/mp4">
    </video>
    {% elif user_point >= 40 and user_point <= 60 %}
    <video autoplay muted loop id="myVideo">
        <source src="../../static/flyeco/level3.mp4" type="video/mp4">
    </video>
    {% elif user_point >= 60 and user_point <= 80 %}
    <video autoplay muted loop id="myVideo">
        <source src="../../static/flyeco/level4.mp4" type="video/mp4">
    </video>
    {% elif user_point >= 80 %}
    <video autoplay muted loop id="myVideo">
        <source src="../../static/flyeco/level5.mp4" type="video/mp4">
    </video>
    {% endif %}
    
    <h1>Search</h1>

    <div>
        <br>
        <form action="" method="post" novalidate>
            {{ form|crispy }}
            <div  style="text-align: center;">
                <br>
                <input type="submit" class="btn btn-info" value="Submit">
            </div>
            {% csrf_token %}
        </form>
    </div>
{% endblock content %}